/*
* Style tweaks
* --------------------------------------------------
*/

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 100px;
    font-family: 'Merriweather Sans', arial, sans-serif;
}
footer {
    padding: 0;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
.start_round_div{
    background: #292929 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff;  
    padding: 10px;
    text-align: center;  
}
.totol_time{

}
.start_game{
    max-width: 260px;
    overflow: hidden;	
}
.start_game >img{
    width:100%;
}	
.hours,.minutes ,.seconds {
    font-size: 23px;
    font-weight: bold; 
}
.clearDiv {

}
.timeout {
    color: red;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
}
.questionAnsDiv{
    display:none;
}
.custom_container{
    /*width: 91%;*/
    margin: 15px auto auto;
}
.panel-heading{
    font-weight:bold;	
}
.qstAnsForm > .form-group {
    padding-left: 10px;
    padding-right: 10px;
}
.submit_answer {
    background: #58bddb none repeat scroll 0 0;
    color: #fff;
    border:1px solid #58bddb;
}
.submit_answer:hover {
    background: #fff none repeat scroll 0 0;
    color: #58bddb;
    border:1px solid #58bddb;
}
.time_over>img{
    width:100%;
    max-width:400px;
}
.time_over{
    padding-left:10px;
    padding-right:10px;
}
.restart_game {
    background: #ab0013 none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin: 25px auto 30px;
    text-align: center;
    width: 20%;
}
.restart_game:hover {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #ab0013;
}	
.time_over{
    text-align:center;
}
.start_game_div{
    text-align:center;
}
.footer-group{
    background:#F8F8F8;
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px #ddd solid;
}
.required_ans{
    text-align:center;
    color:red;
    display:none;
}
.loading{
    opacity:0.3;
}
#question_div .form-group{
    margin-left:20px;
}

.panel-heading {
    font-size: 20px;
}

.warning {
    color : red;
}

.navbar-default {
    background-color: rgba(48, 56, 67, 0.9);
    border-color: rgba(48, 56, 67, 0.9);
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #71c4e0; 
    background: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.footer {
    background: #3b4452;
}

.footer a {
    color: rgba(255, 255, 255, 0.6);
}

.nav>li>a:hover {
    text-decoration: underline;
    background-color: initial;
    color: #71c4e0;
}
.nav>li>a:focus {
    text-decoration: underline;
    background-color: initial;
    color: #71c4e0;
}

h4 {
    color  : #000;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #3b4452;
    border-color: #3b4452;
}

@media only screen and (max-width: 500px) {
    .navbar-brand {
        font-size : 20px;
    }
    .jumbotron h1 {
        font-size: 20px;
    }
    .social_image {
        width : 50%;
    }
}
@media only screen and (max-width: 240px) {
    .navbar-brand {
        font-size : 12px;
    }

    .jumbotron h1 {
        font-size: 20px;
    }

    .panel-heading {
        font-size: 15px;
    }

    .social_image {
        width : 50%;
    }
} 